<form class="bus-stop-form" action='api/create', method='POST'>
	<input type='text' name='siteNo' placeholder='siteNo'>
	<!--<input type='text' name='finalface' placeholder='finalface'>
	<input type='text' name='bsNo' placeholder='bsNo'>
	<input type='text' name='description' placeholder='description'>
	<input type='text' name='facing' placeholder='facing'>-->
	<input type='text' name='busSt' placeholder='busSt'>
	<!--<input type='text' name='panelId' placeholder='panelId'>
	<input type='text' name='mrt' placeholder='mrt'>
	<input type='text' name='busNo' placeholder='busNo'>-->
	<input type='text' name='chosenPoi' placeholder='chosenPoi'>
	<!--<input type='text' name='distanceFromPoi' placeholder='distanceFromPoi'>-->
	<input type='text' name='minsToWalk' placeholder='minsToWalk'>
	<input type='text' name='stepsToWalk' placeholder='stepsToWalk'>
	<!--<input type='text' name='noOfBusStop' placeholder='noOfBusStop'>
	<input type='text' name='remarks' placeholder='remarks'>
	<input type='text' name='image' placeholder='image'>-->
	<input type='text' name='auth' placeholder='auth'>
	<button type='submit'>Submit</button>
</form>
